/* Credits styles */
.Credits {
    display: flex;
    align-items: center;
    padding-top: 100px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.EndingCredits {
    font-family: "NTR", sans-serif;
    color: var(--slate);
    text-align: center;
    width: 100%;
    font-size: 16px;
    padding-bottom: 40px;
}