@tailwind base;
@tailwind components;
@tailwind utilities;
/* https://www.color-hex.com/color-palette/104116 */
:root {
  --foreground-rgb: 190, 227, 182;
  --background-rgb: 121, 152, 204;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 190, 227, 182;
    --background-rgb: 121, 152, 204;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
