/* Navbar Styles */
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #7998cc;
  color: #bee3b6;
  position: fixed;
  width: 100%;
}

.NavbarList {
  display: flex;
  gap: 1rem;
}

.SocialsList {
  display: flex;
  gap: 1rem;
  justify-content: end;
}

@media only screen and (max-width: 768px) {
    .Navbar {
      justify-content: flex-end;
    }
    .NavbarList {
        display: None;
      }
  }